.list-group-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .contact-info {
            flex-grow: 1;
            padding-right: 15px;
        }
        .favorite-btn {
            color: gray;
            cursor: pointer;
            font-size: 1.25rem;
            margin-right: 10px;
        }
        .favorite-btn.active {
            color: gold;
        }
