body {
  background-color: #222;
  color: #ee6;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

p {
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #eee;
}

strong {
  border-bottom: 1px solid white;
}

.the-force {
  background-color: #444;
  font-weight: bold;
}

.light-side {
  color: #66f;
}

.dark-side {
  color: #f33;
}

#og-trilogy {
  list-style-type: circle;
}

ul:nth-of-type(2) {
  padding-left: 2rem;
}

ul:nth-of-type(3) li:last-child {
  margin-top: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

p:first-of-type::first-line {
  color: #efe;
}

h1:hover {
  color: #f80;
}

ul li:nth-child(even) {
  background-color: #333;
}
